<div style='position:fixed; top:0px; right:0px'>
<!-- <div style='top:0px; right:0px'> -->
    <button (click) = 'hide()'>Hide</button> <button (click) = 'display()'>Display</button> 
    <button (click) = 'reset()'>Reset</button>
</div>

<div *ngIf = '!visible'>
    Some stuff that replaces the list. For example, an input form here... or another component entirely.
</div>

<div *ngIf = 'visible'>
<!-- <div [hidden] = '!visible' id = 'id1'> -->

    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    aaa<br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    Some lines of code <br>
    
    
</div>
