<p style = 'border:1px black solid; padding:5px'>
comp4 works! This is the scrolling list that we want to scroll some, then restore to the previous position.
</p>

<button (click) = 'restore()'>Restor scroll position</button>

line 1<br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
someting <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
[wuerpouweru<br>
]
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
yay!!!!! <br>
last line
